<Files .htaccess>
Order Allow,Deny
Deny From All
</Files>
<Files readme.txt>
Order Allow,Deny
Deny From All
</Files>
<Files screenshot-1.png>
Order Allow,Deny
Deny From All
</Files>
<Files screenshot-2.png>
Order Allow,Deny
Deny From All
</Files>
<Files screenshot-3.png>
Order Allow,Deny
Deny From All
</Files>
<Files screenshot-4.png>
Order Allow,Deny
Deny From All
</Files>
<Files screenshot-5.png>
Order Allow,Deny
Deny From All
</Files>

